<p>
  <%= link_to t("passwords_mailer.reset.link_text"), edit_password_url(@user.password_reset_token) %>
  <%= t("passwords_mailer.reset.body") %>
</p>
<p>
  <%= t("passwords_mailer.reset.expiry", duration: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %>
</p>
